header {
  // background-color: #3a9bd9; // #1e2c3c;
  width: 100%;
  height: 200px;
  user-select: none;
}
header::before {
  content: "";
  position: absolute;
  width: 100%;
  max-height: 200px;
  inset: 0;
  background-color: #3a9bd9; // #1e2c3c;
  opacity: 0.8; /* только фон прозрачный */
  z-index: -1; /* уходит под текст */
}
.title-edwardian {
  font-family: "Edwardian Script ITC", sans-serif;
  font-size: 190px;
  font-weight: normal;
  // color: yellow;
  font-style: normal;
}
.title-gill {
  font-family: "GillSansUltraBold", sans-serif;
  font-size: 128px;
  font-weight: normal;
  font-style: normal;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  color: #ffffff;
  z-index: 100;
  opacity: 1;
}
