@font-face {
  font-family: "Edwardian Script ITC";
  src: url("../assets/fonts/edwardianscriptitc.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GillSansUltraBold";
  src: url("../assets/fonts/gill-sans-ultra-bold-2.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
